* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navItems-fs a {
    min-width: 80px;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out 100ms;
}

.navItems-fs a:hover,
.navItems-fs .active {
    color: #F4796C;
    border-color: #F4796C;
}

/* nav for smaller screen */
.navItems-ss {
    position: absolute;
    top: 63px;
    left: 0px;
    z-index: 90;
    overflow: hidden;
    background-color: white;
    animation: navAnimation ease-in-out 200ms;
}

.navItems-ss li {
    padding: 20px 10px;
    border-bottom: 1px solid #D4D4D4;
}

@keyframes navAnimation {
    0% {
        height: 0px;    
    }

    100% {
        height: 100vh;
    }
}